{% extends 'layout.html.twig' %}

{% block title 'Lista de informacion' %}

{% block content %}
    <h1>Informacion de las categorias</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre Categoria</th>
            <th>Numero de cambios</th>
            <th>Fecha creacion</th>
            <th>Observaciones</th>
        </tr>
        </thead>
        <tbody>
        {% for ges in gestiona %}
            <tr>
                <td>{{ ges.usuario }}</td>
                <td>{{ ges.categoria.nombreCategoria}}</td>
                <td>{{ ges.numeroCambios }}</td>
                <td>{{ ges.ultimaModificacion|date('d/m/Y') }}</td>
                <td>{{ ges.observaciones }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay informacion que mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
