{% extends 'layout.html.twig' %}

{% block title 'Lista de Usuarios' %}

{% block content %}
    <h1>Lista de Enlaces</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Nombre de usuario</th>
            <th>Correo Electronico</th>
            <th>Tipo de usuario</th>
        </tr>
        </thead>
        <tbody>
        {% for nom in usuario %}
            <tr>
                <td>{{ nom.nombre }}</td>
                <td>{{ nom.apellidos }}</td>
                <td><a href="{{ path('usuarios_mostrar', {'id': nom.id}) }}">{{ nom.nombreUsuario }}</a></td>
                <td>{{ nom.correoElectronico }}</td>
                <td>{{ nom.tipoUsuario }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay Usuarios que mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
