{% extends 'layout.html.twig' %}

{% block title %}
    Detalle: {{ categorias.nombreCategoria }}
{% endblock %}

{% block content %}
    <h1>{{ categorias.nombreCategoria }}</h1>
    <p>{{ categorias.descripcion}}</p>
    <h2>{{ categorias.aprobada }}</h2>
    <h2>{{ categorias.fechaAceptacion|date('d/m/Y') }}</h2>

    <a href="{{ path('categorias_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de categorias</a>
{% endblock %}