{% extends 'layout.html.twig' %}

{% block title %}
    Detalle: {{ categoria.nombre }}
{% endblock %}

{% block content %}
    <h1>{{ categoria.nombre }}</h1>
    <p>{{ categoria.descripcion}}</p>
    <h2>{{ categoria.aprobada }}</h2>
    <h2>{{ categoria.fechaAceptacion|date('d/m/Y') }}</h2>

    <a href="{{ path('categorias_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de categorias</a>
{% endblock %}

