{% extends 'layout.html.twig' %}

{% block title %}
    Detalle: {{ enlace.nombre }}
{% endblock %}

{% block content %}
    <h1>{{ enlace.nombre }}</h1>
    <h2>Propuesta por {{ enlace.autor }}</h2>
    <p>{{ enlace.descripcion }}</p>

    <a href="{{ path('enlaces_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de enlaces</a>
{% endblock %}

