{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comparador</h1>
   {% if (n1 < n2)  %}
    <p>{{ n1 }} es menor que <b>{{ n2 }}</b></p>
        {% elseif (n1 > n2)  %}
        <p><b>{{ n1 }}</b> es mayor que {{ n2 }}</p>
        {% else %}
            <p><b>{{ n2 }}</b> y <b>{{ n2 }}</b> son iguales</p>
        {% endif %}
        <br/>
        {% if n1<n2  %}<b>{%if n1>n2 %}{{ n1 }}{% else %}</b>{% endif %}
        es {% if n1<n2  %}menor{%if n1>n2 %}mayor{% else %}igual{% endif %}
        que {% if n2>n1  %}<b>{%if n2<n1 %}{{ n2 }}{% else %}</b>{% endif %}


{% endblock %}